@{
    ViewBag.Title = "Watch the video";
}

<div class="video-thumbnail">
    <div>
        <img id="thumbnail1" src="~/images/Hidden Heaven - Thumbnail.jpg" onclick="getYouTubeLink('Uxf2YMxXtAg&pp=ygUCNGs%3D')" />
    </div>
    <div>
        <img id="thumbnail2" src="~/images/Norway-Thumbnail.jpg" onclick="getYouTubeLink('KLuTLF3x9sA&pp=ygUCNGs%3D')" />
    </div>
    <div>
        <img id="thumbnail3" src="~/images/Safari-Thumbnail.jpg" onclick="getYouTubeLink('P8frC_cLLD4&pp=ygUCNGs%3D')" />
    </div>
    <div>
        <img id="thumbnail4" src="~/images/Switzerland-Thumbnail.jpg" onclick="getYouTubeLink('8mSG40o-iJ0&pp=ygUOc3dpdHplcmxhbmQgNGs%3D')" />
    </div>
</div>

<div id="youtubeLinkDisplay"></div>

<video id="noPauseVideo" width="640" height="360" controls>
    <source src="your_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>


<script>
    var video = document.getElementById("noPauseVideo");

    video.addEventListener("pause", function () {
        video.play(); // Resume playing when paused
    });

    // You can also use the 'play' event to prevent pausing during playback
    video.addEventListener("play", function () {
        video.addEventListener("pause", function (e) {
            e.preventDefault();
            video.play();
        });
    });

    function getYouTubeLink(videoId) {
        var youtubeVideoLink = "https://www.youtube.com/watch?v=" + videoId;

        // Display the link in a designated area
        var linkDisplay = document.getElementById("youtubeLinkDisplay");
        linkDisplay.innerHTML = "<strong>YouTube Video Link:</strong> " + youtubeVideoLink;
    }
</script>
