<div class="logo-gs">
    <img src="~/images/GS Hitam 1.png"/>
</div>

<div class="title-CRP">
    <p>Cost Reduction Program (CRP)</p>
</div>

<div class="startBtn">
    <button>
        PRESS TO START
    </button>
</di>

<div class="tiktok-screen">
    
</div>