@{
    Layout = "_HomeLayout";
}

<div class="logo-gs-putih" id="logo-gs-putih">
    <img src="~/images/Logo-GS Putih.png" />
</div>

<div class="home-container">
    <div class="title-CRP" id="title-CRP">
        <p>Cost Reduction Program (CRP)</p>
    </div>

    <div class="startBtn" id="startBtn">
        <input id="redirect" type="submit" value="PRESS TO START" class="btn btn-default" />
    </div>

    <div class="tiktok-screen">
        <video id="videoPlayer" autoplay loop muted>
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
            <source src="~/videos/Video-Home.mp4" type="video/mp4" />
        </video>
        <audio autoplay loop>
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
            <source src="~/audios/Audio-Home.mp3" type="audio/mp3" />
        </audio>
    </div>
</div>

<script>
    $(function () {
        $("#redirect").click(function (e) {
            e.preventDefault();

            document.getElementById('logo-gs-putih').classList.add('exit');
            document.getElementById('title-CRP').classList.add('exit');
            document.getElementById('startBtn').classList.add('exit');

            setTimeout(function () {
                document.location = '@Url.Action("Index", "EnterName")';
            }, 1000);
        });
    });
</script>