@{
    Layout = "_HomeLayout";
}

<div class="home-container">
    <div class="logo-gs-putih" id="logo-gs-putih">
        <img src="~/images/Logo-GS Putih.png" />
    </div>

    <div class="title-CRP" id="title-CRP">
        <p>Cost Reduction Program (CRP)</p>
    </div>

    <div class="startBtn" id="startBtn">
        <input id="redirect" type="submit" value="PRESS TO START" class="btn btn-default" />
    </div>

    <div class="tiktok-screen">
        <video src="~/videos/Video-Home.mov" autoplay muted loop playsinline></video>
    </div>
</div>

<script>
    $(function () {
        $("#redirect").click(function (e) {
            e.preventDefault();

            document.getElementById('logo-gs-putih').classList.add('exit');
            document.getElementById('title-CRP').classList.add('exit');
            document.getElementById('startBtn').classList.add('exit');

            setTimeout(function () {
                document.location = '@Url.Action("Index", "EnterName")';
            }, 1000);
        });
    });
</script>