@{
    Layout = "_EnterNameLayout";
}

@model User;

<div class="enterName-container">
    <div>
        <form id="inputName" asp-controller="EnterName" asp-action="Index" method="post">
            <label class="hidden" id="enter-your-name">Enter your name :</label>
            <input type="text" placeholder="Your name" asp-for="Name"/>
            <span class="icon" onclick="handleIconClick()">
                <img id="imgNext" class="hidden" src="~/images/Icon-Right-Arrow.png" />
            </span>
        </form>
    </div>

    <div class="hidden" id="skipBtn">
        <p>Skip</p>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById('enter-your-name').classList.remove('hidden');
        document.getElementById('skipBtn').classList.remove('hidden');
        document.getElementById('imgNext').classList.remove('hidden');

            document.getElementById('enter-your-name').classList.add('entrance');
            document.getElementById('skipBtn').classList.add('entrance');
            document.getElementById('imgNext').classList.add('entrance');

        setTimeout(function () {
            document.getElementById('imgNext').classList.add('blinking');
        }, 800);

    }, 1000);

    function handleIconClick() {
        setTimeout(function () {
            document.getElementById('enter-your-name').classList.add('exit');
            document.getElementById('imgNext').classList.add('exit');
            document.getElementById('skipBtn').classList.add('exit');

            submitForm();
        }, 1000);
    }

    $(function(){
      $("#skipBtn").click(function (e) {
         e.preventDefault();
         window.location.href = '@Url.Action("Index", "Home")';
      });
    });

    function submitForm() {
        $("#inputName").submit();
    }

    // Idle Timeout
    let idleTime = 0;
    const idleTimeout = 300; // 5 minutes in seconds
    const homePageUrl = "/Home/Index"; // Adjust the URL of your home page

    const idleInterval = setInterval(timerIncrement, 1000);

    document.addEventListener('mousemove', resetIdleTime);
    document.addEventListener('keydown', resetIdleTime);

    function timerIncrement() {
        idleTime++;
        if (idleTime >= idleTimeout) {
            window.location.href = homePageUrl;
        }
    }

    function resetIdleTime() {
        idleTime = 0;
    }
</script>
