@{
    Layout = "_EnterNameLayout";
}

@model User;

<div class="enterName-container">
    <div>
        <form id="inputName" asp-controller="EnterName" asp-action="Index" method="post">
            <label>Enter your name :</label>
            <input type="text" placeholder="Your name" asp-for="Name" onkeypress="checkEnter(event)" />
            <span class="icon" onclick="handleIconClick()">
                <i class="fas fa-search"></i>
            </span>
        </form>
    </div>

    <div id="skipBtn">
        <p>Skip</p>
    </div>
</div>

<script>
    function checkEnter(event) {
        if (event.key === "Enter") {
            event.preventDefault();

            submitForm();
        }
    }

    $(function(){
      $("#skipBtn").click(function (e) {
         e.preventDefault();
         window.location.href = '@Url.Action("Index", "Home")';
      });
    });

    function submitForm() {
        $("#inputName").submit();
    }

    let idleTime = 0;
    const idleTimeout = 300; // 5 minutes in seconds
    const homePageUrl = "/Home/Index"; // Adjust the URL of your home page

    const idleInterval = setInterval(timerIncrement, 1000);

    document.addEventListener('mousemove', resetIdleTime);
    document.addEventListener('keydown', resetIdleTime);

    function timerIncrement() {
        idleTime++;
        if (idleTime >= idleTimeout) {
            window.location.href = homePageUrl;
        }
    }

    function resetIdleTime() {
        idleTime = 0;
    }
</script>
