<div class="enterName-container">
    <div id="inputName">
        <label>Enter your name :</label>
        <input placeholder="Your name" src=""/>
    </div>

    <div id="skipBtn">
        <p>Skip</p>
    </div>
</div>