@{
    Layout = "_MainItemLayout";
}

<div class="main-item-container">
    <div id="logo-gs">
        <img src="~/images/Logo-GS Hitam.png" />
    </div>

    <div id="main-item-text">
        <label>Reduce Rejection</label>
        <p>Implementing new technology for the Servo Power Cylinder and changing the adjustment method from manual to automatic for reducing leakage problems at the Heat Sealing Machine is our proactive step toward process improvement to reduce the internal rejection problem.</p>
    </div>

    <div id="media-menu-item">
        <div id="ppt-watching-screen">
            <img src="~/images/PPT-Reduce.jpeg" />
        </div>
        <div id="video-watching-screen">
            <video id="videoItem" autoplay loop>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
                <source src="~/videos/Video-Reduce.mp4" type="video/mp4"/>
            </video>
        </div>
    </div>

    <div id="backBtn">
        <input id="backBtnText" type="submit" value="Back" />
    </div>

    <div id="loadingOverlayItem">
        <div id="spinner-container" class="d-flex justify-content-center align-items-center">
            <div id="spinner-border-item" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div id="pptModal" class="modal">
        <img alt="Image" />
        <span class="close">&times;</span>
    </div>
</div>

<script>
    $(function () {
        document.getElementById('backBtn').classList.add('pulse');

        $("#backBtn").click(function (e) {
            $('#loadingOverlayItem').show();

            e.preventDefault();
            pauseVideo();

            document.getElementById('backBtn').classList.remove('pulse');

            setTimeout(function () {
                document.getElementById('backBtn').classList.add('exit');

                $('#loadingOverlayItem').hide();
                document.location = '@Url.Action("Index", "Main")';
            }, 700);
        });

        function pauseVideo() {
            var videoItem = document.getElementById("videoItem");
            videoItem.pause();
        }

        updateIndex("Reduce Rejection");
    });

    function updateIndex(pageIdentifier) {
        $.ajax({
            type: "POST",
            url: "/Main/IncrementIndex",
            data: { pageIdentifier: pageIdentifier },
            success: function (result) {
                console.log("Video Watched!");
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", status, error);
            }
        });
    }

    // Popup Modal
    var modalClass = document.querySelector(".modal");
    var modal = document.getElementById("pptModal");

    var pptImage = document.querySelector("#ppt-watching-screen img");
    var modalImg = document.querySelector("#pptModal img");

    pptImage.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
    }

    var span = document.querySelector(".close");

    span.onclick = function () {
        modal.style.display = "none";
    }

    modal.onclick = function (event) {
        // Check if the click is directly on the modal, not on its children
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>