<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpinningWheel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpinningWheel.styles.css" asp-append-version="true" />

    <script src="~/js/jquery-3.6.4.min.js"></script>
    <link href="~/css/font-rubik.css?family=Rubik:300,400,500,600,700,800,900" rel="stylesheet">
    
    <!-- Chart JS -->
    <script src="~/js/chart.min.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> *@
    <!-- Chart JS Plugin for displaying text over chart -->
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js"></script> *@
    <script src="~/js/chartjs-plugin-datalabels.min.js"></script>

    @*
    <script src="./node_modules/chart.js/dist/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-fillet"></script> *@

</head>
<body id="spin-wheel-body">
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>